*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: Roboto Slab;
    
}

.flex{
    display: flex;
}
.logo{
    background-color: #BF1404;
    width:90px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.numerique{
    color: white;
    font-size: 40px;
    text-decoration: underline #BF1404;
    margin-left: 20px;
}

.titre{
    color: white;
    font-size: 95px;
    text-align: center;
    margin: 105px;
}
.histoires{
    margin: 40px;
    display: flex;
   display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    
}

.grid{
    grid-column: 2 , 3;
    background-color: #5F0A02;
    margin-left: 25px;
}
.description{
    color: black;
    margin: 20px;
    font-size: 30px;
}

.SNES{
    background-color: #C4C4C4; 
    display: flex;
    flex-direction: column;
}
.liste{
    color: black;
    font-size: 20px;
    text-align: center;
}
.snes-info{
    text-align: center;
}
.nim{
    color: white;
    font-size: 55px;
    margin: 70px;
}

.texte{
    text-align: center;
    color: white;
    font-size: 34px;
    margin: 20px;
}

.noir{
    color: black;
}

.noir:hover{
    color: #BF1404;
    transition-duration: 0.5s;
}

.blanc{
    color: white;
}

.blanc:hover{
    color: black;
    transition-duration: 0.5s;
}

a{
    text-decoration: underline;
}

.des{
    margin: 15px; 
    font-size: 24px;
}

.war{
    width: 990px;
    height: 550px;
}

.bouton{
    display: flex;
    justify-content: center;
    margin: 25px;
    
}

.bout{
    color: white;
    text-decoration: none;
}

.bout:hover{
    color:#BF1404 ;
    transition-duration: 1s;
}