*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: Roboto Slab;
    
}

.flex{
    display: flex;
}

.logo{
    background-color: #BF1404;
    width:90px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.numerique{
    color: white;
    font-size: 40px;
    text-decoration: underline #BF1404;
    margin-left: 20px;
}

.histoires{
    margin: 40px;
    display: flex;
   display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    
}


.grid{
    grid-column: 1 , 2;
    background-color: #5F0A02;
    margin-right: 25px;
}
.description{
    color: black;
    margin: 20px;
    font-size: 30px;
}

.space{
    background-color: #C4C4C4; 
    display: flex;
    flex-direction: column;
}
.liste{
    color: black;
    font-size: 20px;
    text-align: center;
}
.spacewar-info{
    text-align: center;
}
.nim{
    color: white;
    font-size: 65px;
    margin: 70px;
}

.texte{
    text-align: center;
    color: white;
    font-size: 45px;
    margin: 20px;
}

.noir{
    color: black;
}

.noir:hover{
    color: #BF1404;
    transition-duration: 0.5s;
}

.blanc{
    color: white;
}

.blanc:hover{
    color: black;
    transition-duration: 0.5s;
}

a{
    text-decoration: underline;
}

.war{
    width: 990px;
    height: 550px;
}

.des{
    margin: 35px; 
    font-size: 24px;
}

/* button */
.bouton{
    display: flex;
    justify-content: center;
    margin: 25px;
    
}

.bout{
    color: white;
    text-decoration: none;
}

.bout:hover{
    color:#BF1404 ;
    transition-duration: 1s;
}
.boutond{
    display: none;
}
.boutong{
    display: none;
}

@media screen and (max-width:860px){
    body{
        
        padding: 0;
        margin: 0;
    }
    .histoires{
        display: block;
        
    }

    .text{
        width: 860px;
        background-color: #5F0A02;
    }
    .war{
        width: 860px;
    }
    .space{
       width: 860px;
    }
    .bouton{
        display: none;
    }
    .boutond{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: flex-end;
       width: 1800px;
    }
    .boutong{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
    }
    .boutc{
        width: 900px;
        color: white;
    }
    .bout{
      width: 600px;
    }
    
    
}
@media screen and (max-width:860px){
    body{
        
        padding: 0;
        margin: 0;
    }
    .histoires{
        display: block;
        
    }

    .text{
        width: 1200px;
        background-color: #5F0A02;
    }
    .war{
        width: 1200px;
    }
    .space{
       width: 1200px;
    }
    .bouton{
        display: none;
    }
    .boutond{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: flex-end;
       width: 1800px;
    }
    .boutong{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
    }
    .boutc{
        width: 900px;
        color: white;
    }
    .bout{
      width: 600px;
    }
    
    
}